* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://images.unsplash.com/photo-1587241321921-91a834d6d191?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJha2VyeXxlbnwwfHwwfHx8MA%3D%3D') no-repeat center center/cover;
}

.container {
  background: rgba(0, 0, 0, 0.8); /* Transparent black background */
  border-radius: 16px;
  padding: 40px 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  max-width: 350px;
  width: 100%;
}

.login-box h2 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px 40px 12px 40px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  color: white;
  font-size: 15px;
  outline: none;
}
.input-box input:focus {
  background-color: #ffffff;
  border-color: #7a00cc;
  color: #000000; /* Make typed text visible */
  outline: none;
}

/* Change placeholder color on focus */
.input-box input:focus::placeholder {
  color: #888888; /* Light grey placeholder text */
}
.input-box input:focus i{
  color: #000000; /* Light grey placeholder text */
}

.input-box i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
  font-size: 16px;
}
.input-box input::placeholder{
    color: rgb(218, 218, 218); 
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}

.options a {
  color: #ff3939;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #7a00cc;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #e5e5e5;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.register-link a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

